#background {
    width: 100%;
    height: 100%;
    fill: #000000;
}

.colour-deepOrange {
    fill: #F64C11;
}

.colour-secondary {
    fill: #FECEA8;
}

#hours {
    font-size: 110;
    font-family: Colfax-Regular;
    text-length: 32;
    text-anchor: middle;
    x: 72%;
    y: 36%;
}

#minutes {
    font-size: 110;
    font-family: Colfax-Regular;
    text-length: 32;
    text-anchor: middle;
    x: 72%;
    y: 88%;
}


#date {
    font-size: 37;
    font-family: Colfax-Regular;
    text-length: 32;
    text-anchor: middle;
    x: 73%;
    y: 54%;
}

#vanity {
    font-size: 37;
    font-family: Colfax-Regular;
    text-length: 32;
    text-anchor: middle;
    x: 27%;
    y: 20%;
}

#weather-icon {
    width: 52;
    height: 52;
    x: 10%;
    y: 75%;
}

#weather {
    font-size: 37;
    font-family: Colfax-Regular;
    text-length: 60;
    text-anchor: middle;
    x: $+8%;
    y: $-4%;
}

#steps {
    font-size: 23;
    font-family: Colfax-Medium;
    text-length: 60;
    text-anchor: middle;
    x: 22%;
    y: 53%;
}

#steps-img {
    width: 24;
    height: 24; 
    x: $+4; 
    y: $-48;
}

#battery-measure {
    font-size: 23;
    font-family: Colfax-Medium;
    text-length: 32;
    text-anchor: middle;
    x: 23%;
    y: 70%;
}

#battery-img {
    width: 22;
    height: 22;
    x: $+2;
    y: $-48;
}

#heart-rate {
    font-size: 23;
    font-family: Colfax-Medium;
    text-length: 60;
    text-anchor: middle;
    x: 23%;
    y: 37%;
}

#heart-rate-img {
    width: 24;
    height: 24;
    x: $+5;
    y: $-48;
}